<div class="list-group-item" id="notebook-form-container"></div>

<a id="new-notebook-toggle" class="list-group-item" href="#">
  <span class="glyphicon glyphicon-plus"></span> New Notebook
</a>

<div id="notebooks-index-container">
<div class="list-group-item sidebar-title" id="quicklinks-collapse">
  <span class="glyphicon glyphicon-chevron-down quicklinks-collapse-icon"></span> Quicklinks
</div>

<div class="quicklink-container">
  <% favorites.each(function(fav) { %>
    <a class="list-group-item favorite-sidebar-item" href="#<%= fav.url() %>">
    <span class="glyphicon glyphicon-share-alt"></span>
    <span class="notebook-list-title" data-id="<%= fav.id %>">
      <%= fav.escape('title') %>
    </span>
    <span class="options pull-right hide-options">
      <span class="glyphicon glyphicon-minus remove-favorite"
            data-id="<%= fav.id %>"></span>
    </span>
    </a>
  <% }); %>
</div>



<div class="list-group-item sidebar-title" id="notebooks-collapse">
  <span class="glyphicon glyphicon-chevron-down notebooks-collapse-icon"></span> Workspace: <%= dashboard.escape('title') %>
  <span class="glyphicon glyphicon-pencil edit-dashboard-name pull-right"></span>
</div>

<div id="sidebar-notebook-workspace-name-form" class="list-group-item sidebar-title">
  <form id="rename-dashboard" accept-charset="utf-8">
    <input type="text" name="dashboard[title]" autofocus
           value="<%= dashboard.escape('title') %>"
           class="form-control dashboard-title input-sm">

    <span class="submit-options">
      <input type="submit" value="Update" class="btn btn-default btn-sm">
      <span id="untoggle-dashboard-form"
            class="glyphicon glyphicon-remove"></span>
    </span>
  </form>
</div>

<div id="notebooks-container">

</div>
</div>